{%  extends 'mainBase.html' %}

{% block title %}
Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">
<h1 style="margin-left: 30px;">Про клініку</h1>
    <h2 style="margin-left: 30px;">консультації по запису та онлайн</h2>
    <p style="margin-left: 30px;"><font size="4">

<br>Мови спілкування та надання консультацій: українська, англійська, російська.

<br><br>Онлайн клініка – це ресурс, який дає можливість пацієнтам отримати медичну консультацію, постійний супровід у процесі лікування та перемогти хворобу не виходячи з дому.

<br><br>Онлайн клініка є міжнародним майданчиком, за допомогою якого досвідчені лікарі по всьому світу можуть надавати медичну допомогу будь-якому пацієнтові, що звернувся дистанційно.

<br><br>Ми постійно працюємо над розширенням медичних напрямків та переліку онлайн послуг. Ми також працюємо над розширенням кількості медичних фахівців та розвитком регіонів, які можуть приєднатися до отримання наших онлайн послуг.
<br>Ми дуже ретельно проводимо добір кваліфікованих лікарів з великим досвідом та сучасними медичними знаннями.

<br><br>Якщо у вас є проблеми зі здоров'ям, скарги, і вам потрібна професійна консультація або медична допомога,
<br>Ви можете отримати її не виходячи з дому.

<br><br>Де б ви не знаходилися (у будь-якій точці світу), заповніть спеціальну форму звернення за допомогою на нашому сайті. І отримайте кваліфіковане вирішення своєї проблеми.

<br><br>Ресурс Онлайн клініка надає можливість усім, хто потребує допомоги зі здоров'ям, отримати необхідну інформацію, консультацію, рекомендацію.

<br><br>Онлайн клініка це сучасне інноваційне та технологічне рішення для найшвидшого доступу до медичної допомоги.

<br><br>Кожен із нас хотів би мати можливість не йти до поліклініки; не стояти у черзі; не чекати на вирішення своєї проблеми зі здоров'я.

<br><br>Онлайн клініка надає таку можливість.

<br><br>Все, що від вас вимагається, це пристрій з доступом до Інтернету та звернення за допомогою, описавши те, що вас турбує.

<br><br>Все інше наші кваліфіковані спеціалісти та сучасні техології зроблять за вас.

<br><br>Про те, як це працює, ви можете дізнатися детальніше на сторінці Як це працює.

<br><br>Не гайте час - заповніть форму онлайн звернення за допомогою.

<br><br>Це легко і нічого не варте.

<br><br>Дійте!</font></p>

</div>





{% endblock %}

