{%  extends 'mainBase.html' %}

{% block title %}
  Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">

    <h1 style="margin-left: 30px;">Переваги звернення</h1>
    <h2 style="margin-left: 30px;">До онлайн клініки</h2>
    <h3 style="margin-left: 30px;">1.Швидко</h3>
    <p style="margin-left: 30px; " ><font size="4">Ви можете отримати потрібну вам консультацію зателефонувавни на гарячу лінію або залишити заявку на прийом на зручний для вас час.
        <br>Вам не потрібно додзвонюватись у реєстратуру; додатково записуватись на прийом або шукати вільне місце;
    вам не потрібно чекати кілька днів, коли підійде ваша черга; вам не потрібно витрачати свій час,
        щоб дістатися до поліклініки і повернутися назад.</font></p>
    <h3 style="margin-left: 30px;">2.Зручно</h3>
    <p style="margin-left: 30px; " ><font size="4">Для отримання необхідної допомоги вам не потрібно виходити з дому.
Все, що потрібно, це мобільний пристрій (смартфон, планшет, ноутбук, комп'ютер) з доступом в інтернет.
    У разі потреби звернення до лікарні, вам надаєтся проста і зрозуміла форма і можливість вибрати дату та час вашого прийому у лікаря</font></p>
    <h3 style="margin-left: 30px;">3.Цілодобово</h3>
    <p style="margin-left: 30px; " ><font size="4">
        Незалежно від того, у який момент у вас виникла проблема або в який час доби у вас виникла потреба отримати доступ до інформації,
        ви можете в цілодобовому режимі звернутися в Онлайн клініку за допомогою або отримати доступ до всіх своїх записів в Особистому кабінеті.
При цьому ви нікого не потурбуєте і не завдасте незручностей, тому що сервіс Онлайн клініки доступний для вас цілодобово.
    </font></p>
    <h3 style="margin-left: 30px;">4.Людині зрозумілою мовою</h3>
    <p style="margin-left: 30px; " ><font size="4">Якщо вам не зрозуміло, що означає ваш діагноз; чи не зрозуміло висновок про результати огляду; не зрозуміло, що написано в рецепті або виникли якісь інші складності після відвідування лікарні, то в Онлайн клініці ви практично не зіткнетеся з цим.
Наші фахівці завжди постараються дати вам відповіді на питання, що виникли у вас, і докладуть максимум зусиль, щоб їх консультація, порада, рекомендація не викликали питань у вас.
Крім цього, інформація у вашому Особистому кабінеті сформована, організована та адаптована під вас, як пацієнта, і не містить "сухих", хитромудрих медичних термінів.
Усі форми, поля, схеми та рекомендації орієнтовані на легке, інтуїтивно зрозуміле сприйняття звичайною людиною.</font></p>
<h3 style="margin-left: 30px;">5.Працюємо на результат</h3>
    <p style="margin-left: 30px; " ><font size="4">Наша мета – це максимально швидко, ефективно та оптимальним способом допомогти вам у одужанні.
Фахівці Онлайн клініки дуже уважно вивчають надану вами інформацію. У процесі лікування контролюють поточні показники здоров'я та зміну їх у динаміці.
Якщо виявляються будь-які відхилення, то на ранній стадії вносяться оперативні коригування.
У тяжких випадках ми продовжуємо супроводжувати тих, хто до нас звернувся. І намагаємося знайти засоби та способи, щоб полегшити перебіг хвороби та подолати недугу остаточно.</font></p>
</div>





{% endblock %}

