{%  extends 'mainBase.html' %}

{% block title %}
  Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">

    <h1 style="margin-left: 30px;">Послуги</h1>
    <h2 style="margin-left: 30px;">Онлайн клініки</h2>
  <h3 style="margin-left: 30px;">Мови спілкування та надання консультацій: українська, англійська, російська.</h3>

  <br><h3 style="margin-left: 30px;">Медичні напрями на поточний момент</h3>
<p style="margin-left: 30px;"><font size="4">
  <b>Всі терапевтичні напрями:</b>
<br>алергологія;
<br>терапія;
<br>ендокринологія;
<br>консультації щодо корекції ваги та правильного харчування;
<br>лікування ковіда в домашніх умовах;
<br>гастроентерологія:
<br>скарги на: порушення стула, здуття, печія, відрижка, болі в різних відділах черевної порожнини.
<br>гепатологія:
<br>компенсовані цирози;
<br>вірусні гепатити В, С, D, G;
<br>аутоімуні,алкогольні гепатити;
<br>гемохроматоз Коновалова-Вільсона;
<br>первинні склерозуючі холангіти;
<br>жирова хвороба печінки (НАЖХП).
<br>А також підвищення печінкових проб, больові синдроми в правому боці, гіркота, фіброз за даними еластографіі, гемангіми печінки.
<br>Консультація ВАГІТНИХ з проблемами печінки та жовчного, наявними маркерами вірусних гепатитів.

  <br><b>Реабілітація після:</b>

<br>травм;
<br>тяжких хвороб;
<br>поранень;
<br>ампутацій;
<br>інсультів;
<br>черепно-мозкових травм.
  <br><b>Урологія:</b>

<br>порушення сечовипускання (болі, різі, часті позиви, утруднене сечовипускання, печіння, енурез та ін.);
<br>будь-які зміни у сечі (поява осаду, кров, зміна кольору);
<br>клінічні прояви запальних інфекційних захворювань, зокрема. статевих інфекцій (уретрит, цистит, хламідіоз, трихомоніаз та ін.);
<br>больові відчуття в ділянці нирок, промежини, зовнішніх статевих органах (у чоловіків);
<br>виділення із репродуктивних органів (зі зміною кольору, запаху);
<br>зниження сексуального потягу, еректильна дисфункція та інші ознаки запалення передміхурової залози.
  <br><b>Ми надаємо наступні медичні послуги онлайн:</b>

<br>1.Проконсультуємо які діагностичні дослідження необхідно виконати за відповідної клінічної картини
(Підкажемо яку інструментальну або лабораторну діагностику краще і правильніше провести при тих чи інших скаргах на здоров'я)
<br>2.Допоможемо пояснити результати одержаних досліджень
<br>(Аналізи; діагностики; виписки; кардіограми; КТ; МРТ та інші)
<br>3.Надамо кваліфіковані консультації та рекомендації щодо лікування виявленого захворювання
<br>4.Внесемо коригування в схему лікування недуги, яку ви використовували раніше
<br>5.Надамо повний інформаційний супровід курсу лікування
<br>6.Індивідуально підберемо відповідні та доступні лікарські препарати
<br>7.Допоможемо з підбором та заміною раніше використовуваних, але неефективних препаратів на більш ефективні
<br>8.Порекомендуємо необхідне реабілітаційне або медичне обладнання та пристрої
<br>9.І багато іншого.
Якщо вам потрібна допомога чи консультація, заповніть на нашому сайті форму онлайн звернення за допомогою .


</font></p>

</div>





{% endblock %}

