{%  extends 'mainBase.html' %}

{% block title %}
  Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">

<h1 style="margin-left: 30px;">Контакти</h1>
    <h2 style="margin-left: 30px;">Онлайн клініки</h2>
    <p style="margin-left: 30px;"><font size="4">
        Онлайн клініка - це віртуальне представництво офіційних кваліфікованих зареєстрованих лікарів з усього світу.
<br>Кожен лікар знаходиться на своєму місці, у своїй країні, у своєму кабінеті.

<br><br>Безпосередньо консультації лікарів надаються та отримуються через Особистий кабінет пацієнта на сайті.

<br><br>Жителі м. Чернівці та області (в Україні), можуть записатися та прийти на очну консультацію щодо Терапевтичного напряму за адресою:
<br>м. Чернівці, вул. ХорошаДипломна, буд. 5. Україна.
        <br><b>Години прийому:</b>
<br>Понеділок з 8:00 до 20:00
<br>Вівторок з 8:00 до 20:00
<br>Середа з 8:00 до 20:00
        <br>Чертвер з 8:00 до 20:00
        <br>П'ятниця з 8:00 до 20:00
        <br>Субота з 10:00 до 18:00
        <br>Неділя з 10:00 до 18:00.
<br>Гарача лінія <b>цілодобово</b>
<br>Попередня онлайн реєстрація ОБОВ'ЯЗКОВА!
        <br><b>Телефон для довідок:</b>
<br>+380(66)666-66-66, +380(99)999-99-99,
+380(67)777-77-77 у тому числі Viber, Telegram, WhatsApp.

<br><br>У разі нагальної потреби, ви можете написати та надіслати лист Адміністрації сайту електронною поштою.
<br><b>Адміністрація</b>
<br><b>Email:</b>
<br>bi0vladusha@gmail.com
    </font></p>
</div>





{% endblock %}

