{%  extends 'mainBase.html' %}

{% block title %}
  Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">

    <h1 style="margin-left: 30px;">Поширені запитання</h1>
    <h2 style="margin-left: 30px;">Про онлайн клініку</h2>
    <h3 style="margin-left: 30px;">1.Для кого цей ресурс?</h3>
    <p style="margin-left: 30px; " ><font size="4">Для тих, хто потребує дистанційної консультації, супроводу лікування, допомоги лікаря (без відвідування поліклініки).
Ресурс орієнтован на кілька ключових категорій.
<br>1.1. Люди, які обмежені у пересуванні та не можуть виходити з дому. Важко, дуже важко і вкрай важко хворі з різними діагнозами. Наприклад, інфаркт, інсульт, онкологія, важкі травми та багато інших.
<br>А також опікуни, піклувальники, ті, хто допомагає, доглядає, піклується про своїх важко хворих близьких, і потребує консультації щодо забезпечення кращого догляду та одужання.
<br>1.2. Люди, які знаходяться за кордоном, далеко від дому, і потребують оперативної кваліфікованої медичної консультації, поради, рекомендації рідною мовою.
<br>1.3. Решта, яким необхідна дистанційна консультація, порада, допомога.</font></p>
    <h3 style="margin-left: 30px;">2.Як я можу дізнатися який лікар мене консультує?</h3>
    <p style="margin-left: 30px; " ><font size="4">
        При дзвінку на гарячу лінію першим ділом лікар представляєтся.
       <br> А що до записів ,  ви самі можете вибирати лікаря коли заповнюєте форму запису.
    </font></p>
    <h3 style="margin-left: 30px;">3.Яка процедура оплати – де гарантії, що я отримаю консультацію?</h3>
    <p style="margin-left: 30px; " ><font size="4">
        <br>1. Ніякою предплати немає, тільки після консультації з лікарем ви отримуєте рахунок
        <br>2. Всі ваші платежі офіційні, безготівкові, прозорі, легко перевіряються та відстежуються, з наявністю офіційно підтверджених документів
        про платіж від фінансових установ, як на стороні платника, так і на стороні одержувача платежу.
        <br>3.При екстрених дзвінках на гарячу лінію консультація безкоштовна.
    </font></p>

</div>





{% endblock %}

