{%  extends 'mainBase.html' %}

{% block title %}
Онлайн клініка
{% endblock %}






{% block content %}


<div class="container mt-5">
        <h1 style="margin-left: 30px;">Медичні Новини</h1>
        <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top" ><font size="4">
           <br>Put Your Shoes Back On. Here’s the Problem With Going Barefoot
          <br>Зовнішнє посилання на новину:
           <br><a href="https://time.com/6284245/walking-barefoot-health-risks/" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              Health - TIME
          </a>
        </font></p>

    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Girl given months to live after cancer misdiagnosis
          <br>Зовнішнє посилання на новину:
           <br><a href="https://www.bbc.com/news/uk-england-hampshire-65781279?at_medium=RSS&at_campaign=KARANGA" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              BBC News - Health
          </a>
    </font></p>
    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Breast cancer: Woman's reconstruction delayed three times
          <br>Зовнішнє посилання на новину:
           <br><a href="https://www.bbc.com/news/uk-wales-65770228?at_medium=RSS&at_campaign=KARANGA" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              BBC News - Health
          </a>
    </font></p>
    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Multi-cancer blood test shows real promise in NHS study
          <br>Зовнішнє посилання на новину:
           <br><a href="https://www.bbc.com/news/health-65775159?at_medium=RSS&at_campaign=KARANGA" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              BBC News - Health
          </a>
    </font></p>
    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Eating disorder group pulls chatbot sharing diet advice
          <br>Зовнішнє посилання на новину:
           <br><a href="https://www.bbc.com/news/world-us-canada-65771872?at_medium=RSS&at_campaign=KARANGA" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              BBC News - Health
          </a>
    </font></p>
    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Companies Knew the Dangers of PFAS ‘Forever Chemicals’—and Kept Them Secret
          <br>Зовнішнє посилання на новину:
           <br><a href="https://time.com/6284266/pfas-forever-chemicals-manufacturers-kept-secret/" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              Health - TIME
          </a>
    </font> </p>
    <p style="margin-left: 30px;" class="pb-4 mb-4 fst-italic border-top"><font size="4">
           <br>Triple-Negative Breast Cancer: Q&A With Kevin Kalinsky, MD
          <br>Зовнішнє посилання на новину:
           <br><a href="https://www.webmd.com/breast-cancer/features/cm/triple-negative-breast-cancer-qa-kevin-kalinsky?src=RSS_PUBLIC" target="_blank" class="icon-link gap-1 icon-link-hover stretched-link">
              WebMD Health
          </a>
    </font> </p>



</div>





{% endblock %}

